{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Human Query Engine</h1>

    {% if not signed_in %}
    Email 
    <form action="/signin" method="post">
    <input name="email" type="text" placeholder="me@gmail.com"></input>
    <button>Sign in</button>
    </form>
    {% else %}
	Signed in as {{user_email}}
    {% endif %}


    {% if signed_in %}
    <h2 class="answer">
      Answer a question
    </h2>
    All data is publicly viewable @ https://github.com/samsquire/human-query-engine
    <p class="important">
    {{question}}
    </p>
    <form method="post" action="submit">
    <input name="question_id" type="hidden" value="{{ question_id }}"/>
    <select name="response">
    {% for response in responses %}
    <option value="{{response}}">{{response}}</option>
    {% endfor %}
    </select>
    Or...
    <div>
    <textarea name="answer"></textarea>
    </div>
    <button type="submit">Submit</button>
    </form>
    {% endif %}
 
{% endblock %}

